<div id="<%= dom_id chair %>">
  <p>
    <strong>Name:</strong>
    <%= chair.name %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= chair.brand %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= chair.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= chair.price %>
  </p>

</div>
